{% extends "base_dashboard.html" %} {% block inner %}
<div class="w-4/5 mx-auto">
  <div class="flex justify-start items-center pb-3">
    <div class="font-extrabold text-4xl text-gray-700">Visit Details</div>
  </div>
  <div class="py-3">
    <div class="text-gray-700 text-2xl font-bold">{{patient.full_name}}</div>
    <div class="text-gray-500 text-lg">{{patient.address}}</div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-10 font-gray-700 text-lg">
    {% for visit in visits %}
    <div class="rounded-xl bg-white p-4">
      <div class="flex justify-between items-center">
        <div>
          <div class="font-semibold">Visit By</div>
          <div class="text-gray-500">{{ visit.schedule.nurse }}</div>
        </div>
        <div>
          <div class="font-semibold">Visit Date</div>
          <div class="text-gray-500">{{ visit.schedule.date }}</div>
        </div>
      </div>
      <div class="pt-4">
        <a
          href="{% url 'patients:visit_details' patient.id visit.id %}"
          class="bg-gray-700 p-2 text-white rounded-xl"
          >Visit Details</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
