{% extends "base_dashboard.html" %} {% block inner %}
<div class="font-extrabold text-4xl text-gray-700">{{object.full_name}}</div>
<div class="flex justify-between items-center pt-3">
  <div class="text-2xl font-bold py-2">Personal Information</div>
  <div>
    <a
      href="{% url 'patients:update' object.id %}"
      class="py-2 px-3 text-white bg-gray-700 rounded-xl text-lg"
      >Edit</a
    >
  </div>
</div>
<div class="grid grid-cols-3 grid-rows-3 gap-3 py-4 text-lg">
  <div
    class="col-span-2 row-span-2 bg-white rounded-xl p-3 grid grid-cols-2 gap-3"
  >
    <div class="col-span-2 font-semibold text-xl">{{object.full_name}}</div>
    <div class="col-span-2 text-gray-500">{{object.address}}</div>
    <div>
      <div class="font-semibold">Phone Number</div>
      <div class="text-gray-500">{{object.phone}}</div>
    </div>
    <div>
      <div class="font-semibold">Emergency Phone Number</div>
      <div class="text-gray-500">{{object.emergency_phone_number}}</div>
    </div>
    <div>
      <div class="font-semibold">Gender</div>
      <div class="text-gray-500">{{object.gender}}</div>
    </div>
    <div>
      <div class="font-semibold">Gender</div>
      <div class="text-gray-500">{{object.facility}}</div>
    </div>
  </div>
  <div class="bg-white rounded-xl p-3 flex justify-center items-center">
    <a href="" class="font-semibold text-xl hover:text-gray-700 hover:text-2xl"
      >Visits</a
    >
  </div>
  <div class="bg-white rounded-xl p-3 flex justify-center items-center">
    <a
      href="{% url 'patients:treatments' object.id%}"
      class="font-semibold text-xl hover:text-gray-700 hover:text-2xl"
      >Treatments</a
    >
  </div>
  <div class="bg-white rounded-xl p-3 flex justify-center items-center">
    <a
      href="{% url 'patients:family' object.id %}"
      class="font-semibold text-xl hover:text-gray-700 hover:text-2xl"
      >Family Details</a
    >
  </div>
  <div class="bg-white rounded-xl p-3 flex justify-center items-center">
    <a
      href="{% url 'patients:disease' object.id%}"
      class="font-semibold text-xl hover:text-gray-700 hover:text-2xl"
      >Disease History</a
    >
  </div>
</div>

{% endblock %}
