{% extends "account/base.html" %} {% load i18n %}
{% block title %}Sign Out {% endblock %}

{% block inner %}

<p class="text-xl py-2 text-center">{% translate 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %} {% if redirect_field_value %}
  <input
    type="hidden"
    name="{{ redirect_field_name }}"
    value="{{ redirect_field_value }}"
  />
  {% endif %}
  <button class="bg-red-700 p-2 rounded-xl w-full text-white mt-3" type="submit">
    Log Out
  </button>
</form>
{% endblock %}
