{% extends "base_dashboard.html" %} {% block inner %}
<div class="w-4/5 mx-auto text-gray-700 py-4 space-y-4">
  <div class="text-gray-700 font-bold text-3xl">Visit</div>
  <div class="flex justify-between items-center gap-3 text-xl font-semibold">
    <div
      class="py-14 w-1/2 bg-white rounded-xl flex justify-center items-center"
    >
      <a href="" class="hover:text-gray-700 hover:font-bold">Treatment Notes</a>
    </div>
    <div
      class="py-14 w-1/2 bg-white rounded-xl flex justify-center items-center"
    >
      <a href="" class="hover:text-gray-700 hover:font-bold"
        >Health Information</a
      >
    </div>
  </div>
</div>
{% endblock %}
