{% extends "base_dashboard.html" %} {% load static %} {% block inner %}

<div class="w-full sm:w-2/3 mx-auto">
  <h2>{{ object.username }}</h2>
  <p>{{ object.name }}</p>
  <p>{{ object.phone }}</p>
  <p>{{ object.email }}</p>
  <p>{{ object.facility }}</p>
  <p>{{ object.role }}</p>

  {% if object == request.user %}
  <!-- Action buttons -->
  <div class="row">
    <div class="text-white">
      <a
        class="m-1 bg-gray-700 text-lg py-2 px-3 rounded-xl"
        href="{% url 'users:update' %}"
        role="button"
        >Edit</a
      >
      <!-- Your Stuff: Custom user template urls -->
    </div>
  </div>
  <!-- End Action buttons -->
  {% endif %}
</div>
{% endblock inner %}
