{% extends "base_dashboard.html" %}
{% load crispy_forms_tags %}

{% block inner %}
<div class="w-full sm:w-2/3 mx-auto">
  <div class="font-semibold text-3xl text-gray-700 pb-4 text-center">Update User</div>
    <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="bg-gray-700 p-2 rounded-xl w-full text-white">Update</button>
        </div>
      </div>
    </form>
</div>
{% endblock %}
