{% extends "base.html" %} {% block content %}
<div class="flex h-screen">
  <div
    class="flex w-1/5 bg-white text-gray-700 flex-col justify-between p-2 text-left"
  >
    <div>
      <div class="text-2xl font-bold pb-4">Arike</div>
      <div class="space-y-4 text-lg pl-2">
        <a class="block hover:font-bold" href="/">Profile</a>
        <a class="block hover:font-bold" href="/">Facility</a>
        <a class="block hover:font-bold" href="/">Home</a>
        <a class="block hover:font-bold" href="/">Patients</a>
        <a class="block hover:font-bold" href="/">Schedule</a>
      </div>
    </div>
    <div class="border-t-2 p-2">user profile</div>
  </div>
  <div
    class="overflow-y-auto py-4 px-5 bg-gray-200 flex flex-col justify-center grow"
  >
    <div class="">{% block inner %}{% endblock %}</div>
  </div>
</div>
{% endblock %}
